<template>
    <h2>Advent Day 1</h2>
  <div class="enhanced-processors">
    <PyodideTextProcessor :pythonFunctionName="processFunctionOne" />
    <PyodideTextProcessor :pythonFunctionName="processFunctionTwo" />
  </div>
</template>

<script>
import PyodideTextProcessor from './PyodideTextProcessor.vue';

export default {
  components: {
    PyodideTextProcessor
  },
  data() {
    return {
      processFunctionOne: 'process_part_one',
      processFunctionTwo: 'process_part_two',
    };
  }
}
</script>

<style>

/* Add festive decorations or icons if you like */
.enhanced-processors {
  display: flex;
  /* Aligns children side by side */
  justify-content: space-around;
  /* Distributes space around the children */
  align-items: stretch;
  /* Stretches children to fill the container vertically */
  background-color: #d4e2d4;
  /* Light green background */
  border: 3px solid #ff0000;
  /* Red border */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #b30000;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  margin-bottom: 20px;
  position: relative;
}

h2 span {
  position: relative; /* Required for absolute positioning of emojis */
  padding: 0 40px; /* Add padding to make room for emojis */
}

h2 .underline {
  width: 60%;
  height: 3px;
  background-color: #d4e2d4;
  margin: 10px auto 0;
  border-radius: 2px;
}

h2::before,
h2::after {
  content: '🎄'; /* Christmas tree emoji */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
}

h2::before {
  left: 30px; /* Position to the left of the text */
}

h2::after {
  right: 30px; /* Position to the right of the text */
}
</style>
