<template>
  <div class="pyodide-text-processor">
    <textarea v-model="inputText" placeholder="Enter data here"></textarea>
    <button @click="processInput">Start Calculation</button>
    <textarea readonly :value="outputText"></textarea>
  </div>
</template>

<script>
import TextProcessor from './TextProcessor.vue';
import { loadPyodide } from '../utils/pyodideManager'; // Adjust the path as needed

export default {
  extends: TextProcessor,
  props: {
    pythonFunctionName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      pyodide: null,
      inputText: '',
      outputText: '',
    };
  },
  async mounted() {
    this.pyodide = await loadPyodide();
    await this.loadPythonScripts();
  },
  methods: {
    async loadPythonScripts() {
      const response = await fetch('python_script.py');
      const pythonScript = await response.text();
      await this.pyodide.runPython(pythonScript);
    },
    async processInput() {
      if (!this.pyodide) {
        console.error('Pyodide is not initialized.');
        return;
      }
      this.outputText = await this.pyodide.globals.get(this.pythonFunctionName)(this.inputText);
    }
  }
}
</script>

<style>
textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
</style>
<style scoped>
.text-processor {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Merriweather', serif;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border: 2px solid #008000;
  background-color: #fffaf0;
  color: #004d00;
}

button {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #ff0000;
}


.enhanced-processors::before,
.enhanced-processors::after {
  content: '❄️';
  position: absolute;
  animation: snow 10s linear infinite;
  font-size: 2em;
  opacity: 0.6;
  color: white;
}

.enhanced-processors::after {
  animation-duration: 15s;
  font-size: 1.5em;
  opacity: 0.7;
}

@keyframes snow {
  0% {
    transform: translateY(-100%) translateX(0);
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(100vh) translateX(50vw);
    opacity: 0;
  }
}

/* Styles for individual PyodideTextProcessor components if needed */
</style>
