<template>
  <div class="text-processor">
    <textarea v-model="inputText" placeholder="Enter data here"></textarea>
    <button @click="processInput">Start Calculation</button>
    <textarea readonly :value="outputText"></textarea>
    <button @click="copyOutput"></button>
  </div>
</template>

<script>
export default {
  name: 'TextProcessor',
  props: {
    processFunction: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      inputText: '',
      outputText: '',
    }
  },
  methods: {
    async processInput() {
      this.outputText = await this.processFunction(this.inputText)
    },
    copyOutput() {
      navigator.clipboard.writeText(this.outputText).then(() => alert('Output copied to clipboard!')).catch(err => console.error('Error copying text ', err));
    }
  }
}
</script>

