<template>
  <div id="app">
    <day_1 />
    <!-- Add more instances as needed, each with its own Python function names -->
  </div>
</template>

<script>
import day_1 from './components/AdventDay1.vue';

export default {
  name: 'App',
  components: {
    day_1
  }
}
</script>

<style>
/* Your styles */
</style>

